// body backgroundn
$body-bg: #f7f5e9;

// header colors
$header-main-color: #f0ecd5;
$header-center-color: #faf9f1;
$header-border-color: #e0dcc7;

// main navigation
$submenu-bg: #f6f4e7;
$link-color: #011581;
$link-hover-color: #f9f8ef;
$link-hover-top-color: #4657b1;
$link-hover-bot-color: #021682;
$link-sub-color: #0e218a;
$link-border-color: #011581;
$text-shadow-color: rgba(202,202,202,0.2);
$link-inset-shadow-color: #6f8aff;
$submenu-block-shadow-color: #3F3F3F;
